<h1>Listing teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Games played</th>
    <th>Wins</th>
    <th>Losses</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.games_played %></td>
    <td><%= team.wins %></td>
    <td><%= team.losses %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
