<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br />
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br />
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :team %><br />
    <%= f.text_field :team %>
  </div>
  <div> <!-- GENDER -->
    <%= f.label :gender %><br />
    <%= radio_button_tag(:gender, "male") %>
    <%= label_tag(:gender_male, "Male") %>
    <%= radio_button_tag(:gender, "female") %>
    <%= label_tag(:gender_female, "Female") %><br />
  </div>
  <div class="field">
    <%= f.label :games_played %><br />
    <%= f.number_field :games_played %>
  </div>
  <div class="field">
    <%= f.label :goals %><br />
    <%= f.number_field :goals %>
  </div>
  <div class="field">
    <%= f.label :assists %><br />
    <%= f.number_field :assists %>
  </div>
  <div class="field">
    <%= f.label :shots %><br />
    <%= f.number_field :shots %>
  </div>
  <div class="field">
    <%= f.label :tackles %><br />
    <%= f.number_field :tackles %>
  </div>
  <div class="field">
    <%= f.label :blocks %><br />
    <%= f.number_field :blocks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
